#videoContainer {
    max-width: 500px;
    height: 281px;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
}

#screen {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 281px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    z-index: 2 !important;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

#screenReplayIcon {
    display: none;
    line-height: 281px;
}

#screenPlayIcon {
    line-height: 281px;
}

#player {
    background-color: black;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#progressBarContainer {
    background-color: lightblue;
    position: relative;
}

#progressBar {
    height: 5px;
    width: 0%;
    background-color: #F08424;
}

#buttonsContainer {
    height: 25px;
    padding-top: 5px;
}

#buttonsContainer>* {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px;
    vertical-align: middle;
}

#pauseIcon {
    display: none;
}

#replayIcon {
    display: none;
}

#muteIcon {
    display: none;
}

#playButton {
    width: 25px;
    margin-right: 0;
}

#timeField {
    color: white;
    font-size: 15px;
    cursor: default;
}

#soundButton {
    margin-right: 0;
    cursor: pointer;
    width: 20px;
}

i {
    cursor: pointer;
    color: white;
}

i:hover {
    color: #F08424;
}

#soundBarContainer {
    margin-left: 0;
    width: 150px;
    height: 7px;
    background-color: white;
    cursor: pointer;
    position: relative;
    bottom: 1px;
}

#soundBar {
    height: 100%;
    width: 100%;
    background-color: #F08424;
}

#fullScreenButton {
    float: right;
}